*{ margin:0; padding:0;}

body{ 
font:100% normal Arial, Helvetica, sans-serif; 

}

form,input,select,textarea{margin:0; padding:0; color:#000;}
	
div.box {
margin:0 auto;
width:350px;
background: #F4F7FB;
position:relative;
top:-15px;
border:1px solid #F4F7FB;
box-shadow: 3px 4px 8px 9px #000;
-webkit-border-radius:10px; 
 -moz-border-radius:10px; border-radius:10px; 
 -webkit-box-shadow:0 0 13x rgba(0,0,0,0); 
 -moz-box-shadow:0 0 13px rgba(0,4,0,0.4); 
 box-shadow:0 0 5px rgba(0,0,0,0.4); 

}

div.box h1 { 
color:#000;
font-size:18px;
text-transform:uppercase;
padding:5px 0 5px 5px;
box-shadow: 3px 4px 5px 3px #000;
width: 30px;

}

div.box label {
width:75%;
display: block;
background:#fff;
opacity: 0.8;
border-top:1px solid #550303;
border-bottom:1px solid #550303;
padding:10px 0 10px 0;
-webkit-border-radius:4px; 
 -moz-border-radius:4px; border-radius:4px; 
 -webkit-box-shadow:0 0 1px rgba(0,0,0,0); 
 -moz-box-shadow:0 0 3px rgba(0,4,0,0.4); 

}

div.box .log {
line-height: 30px;
background-color: #000	;
opacity: 0.9;
color: #fff;
}

div.box .bb {
width:100%;
display: block;
background:#fff;
border-top:1px solid #550303;
border-bottom:1px solid #55030;
padding:10px 0 10px 0;

}


div.box span {
background:#fff;
display: block;
color:#000;
font-size:12px;
float:left;
width:100px;
text-align:right;
padding:5px 5px 0 0;


}

div.box .input_text {
padding:5px 5px;
width:200px;
background:#fff;
border-bottom: 1px double #999;
border-top: 1px double #999;
border-left:1px double #999;
border-right:1px double #999;
-webkit-border-radius:4px; 
 -moz-border-radius:4px; border-radius:4px; 
   -webkit-box-shadow:0 1px 10px rgba(0,4,0,0.4);
  -moz-box-shadow:0 10px 1px rgba(0,4,0,0.4);
  box-shadow:0 1px 10px rgbargba(0,4,0,0.4); 
}

div.box .button
{
color: #fff;
margin:0 0 10px 0;
padding:4px 4px;
background:#000;
border:0px;
position: relative;
font: bold;
top:10px;
left:223px;
width:100px;
border-bottom: 1px double #000;
border-top: 1px double #000;
border-left:1px double #000;
border-right:1px double #000;
-webkit-border-radius:10px; 
 -moz-border-radius:2px; border-radius:2px; 
 -webkit-box-shadow:0 0 1px rgba(0,0,0,0); 
 -moz-box-shadow:0 0 3px rgba(0,4,0,0.4); 
 box-shadow:0 0 5px rgba(0,0,0,0.4); 

}



div.box .submit {
color:#fff;
padding:3px 3px;
background:#000;
border:0px;
top:5px;
width:120px;
border-bottom: 1px double #000;
border-top: 1px double #000;
border-left:1px double #000;
border-right:1px double #000;
-webkit-border-radius:10px; 
 -moz-border-radius:2px; border-radius:2px; 
 -webkit-box-shadow:0 0 1px rgba(0,0,0,0); 
 -moz-box-shadow:0 0 3px rgba(0,4,0,0.4); 
 box-shadow:0 0 5px rgba(0,0,0,0.4);
}
div.left
{
margin:0 0 10px 0;
position: relative;
left: 100px;
}

div.adminleft
{
margin:0 0 10px 0;
position: relative;
left: 250px;
}


#button:hover{
background:#336699;
cursor:pointer;
color: #fff;
border-color: #336699;
}

#button1{
font: bold 14px Arial;
color: #fff;
background:#000;
border-color: #000;
-webkit-border-radius:10px; 
 -moz-border-radius:2px; border-radius:2px; 
 -webkit-box-shadow:0 0 1px rgba(0,0,0,0); 
 -moz-box-shadow:0 0 3px rgba(0,4,0,0.4); 
 box-shadow:0 0 5px rgba(0,0,0,0.4);
}

#button1:hover{
background:#336699;
cursor:pointer;
color: #fff;
border-color: #336699;
}


