* { margin: 0; padding: 0; }

/* Main */

div.databox {
margin:0 auto;
width:600px;
position:relative;
background:#fff;
top:-10px;
border:1px solid #fff;
filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.9;
box-shadow: 3px 4px 5px 3px #000;
-webkit-border-radius:10px; 
 -moz-border-radius:10px; border-radius:10px; 
 -webkit-box-shadow:0 0 1px rgba(0,0,0,0); 
 -moz-box-shadow:0 0 3px rgba(0,4,0,0.4); 
 box-shadow:0 0 5px rgba(0,0,0,0.4); 
}
div.databox h1{
	font-size:34px;
	color:#fff;
    text-shadow:1px 2px 2px #fff;
	text-align:left;
	font-weight:400;
    text-align:center;
	font-family:'Consolas', Arial, sans-serif;
}

div.databox h3{
	
	font-size:18px;
	color:#fff;
    text-shadow:1px 1px 1px #000;
	text-align:left;
	font-weight:400;
    text-align:center;
	line-height: 10px;
	background-color: #000;
	height: 10px;
	padding: 10px;
	opacity: 0.3;
}

div.button
{
margin:0 0 10px 0;
padding:4px 4px;
background:#fff;
border:0px;
position: relative;
font: bold;
top:10px;
width:100px;
border-bottom: 1px double #660000;
border-top: 1px double #660000;
border-left:1px double #FF0033;
border-right:1px double #FF0033;
}

div.opacity1{
background: #F4F7FB;
opacity: 0.9	;
position:block;
width: 300px;
height:100%;
 margin-top:10px;
 float:left;
 }
 
 div.opacity2{
background: #fff;
color:#000;
opacity: 0.9;
width:500px;
padding: 0px 1px 2px 0px;
position:block;
 
 -webkit-border-radius:3px; 
 -moz-border-radius:3px; border-radius:3px; 
 -webkit-box-shadow:0 0 2px rgba(0,0,0,0); 
 -moz-box-shadow:0 0 3px rgba(0,4,0,0.4); 
 box-shadow:0 0 5px rgba(0,0,0,0.4); 
 margin-top:10px;
 float:left;
 }

div.leftstyle {
left: 40px;
position: relative;
}

div.leftstyle1 {
left: 144px;
position: relative;
}


div.leftchoice {
left: 490px;
position: absolute;
background:#F4F7FB;
width: 670px;
margin-top: -400px;

}

div.leftchoice2 {
left: 457px;
position: absolute;
background:#F4F7FB;
width: 663px;

}

div.opacity {
width:1000px; 
height: 610px;
position:block;
 border:0px solid rgba(0,0,0,0); 
 -webkit-border-radius:2px; 
 -moz-border-radius:2px; border-radius:2px; 
 -webkit-box-shadow:0 0 1px rgba(0,0,0,0); 
 -moz-box-shadow:0 0 3px rgba(0,4,0,0.4); 
 box-shadow:0 0 5px rgba(0,0,0,0.4); 
 margin-top:10px;
 }
 
 div.header{
	margin-top: -40px;
	font-family:'Arial Narrow', Arial, sans-serif;
	line-height: 24px;
	background: #000;
	opacity: 0.9;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
	font-size: 12px;
	
}

div.header1{
	margin-top: -40px;
	font-family:'Arial Narrow', Arial, sans-serif;
	line-height:24px;
	background: #000;
	opacity: 0.9;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
	font-size: 12px;
	
	
}
div.header1 a{
	margin-left: 1275px;
	
}
#button:hover{
color:#fff;
cursor:pointer;
}

#button1:hover{
color:#fff;
cursor:pointer;
}

#submit1:active{
color:#000;
cursor:pointer;
}

 div.headerteach{
	font-family:'Arial Narrow', Arial, sans-serif;
	line-height: 50px;
	background: #ff0000;
	opacity: 0.5;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
	font-size: 12px;
	
}

 div.prelim {
	float: left;
	position: block;
	height: 50px;
	width: 50px;
	margin-top: 50px;
	margin-left: 100px;	
	padding: 10px 10px 10px 10px;
	list-style: none;  
	background: #ccc;
	-moz-border-radius: 1px;
	border-radius: 10px;
	-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 1px 5px 3px #550303;
}

div.pp img {
	float: left;
	position: block;
	height: 200px;
	width: 200px;
	margin-left: 25px;	
	padding: 10px 10px 10px 10px;
	list-style: none;  
	background: #fff;
	-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 1px 5px 3px #550303;
}


div.info {
	
	position: block;
	height: 215px;
	width: 580px;
	margin: 0px 0 10px 10px;
	padding: 10px 10px 10px 10px;
	list-style: none;  
	background: #fff;

	-moz-border-radius: 10px;
	border-radius: 5px;
	-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 2px 5px 3px #550303;
}

div.data1 {
	color: #550303;
	position: block;
	padding: 10px;
	height: 200px;
	width: 500px;
	list-style: none;  

	
}





#menu{
	width: 100%;
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;  
	background: #111;
	background: -moz-linear-gradient(#666, #111); 
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #666));	
	background: -webkit-linear-gradient(#666, #111);	
	background: -o-linear-gradient(#666, #111);
	background: -ms-linear-gradient(#666, #111);
	background: linear-gradient(#666, #111);
	
	box-shadow: 0 2px 1px #9c9c9c;
}

#menu li{
	float: left;
	padding: 0 0 10px 0;
	position: relative;
}

#menu a{
	float: left;
	height: 25px;
	padding: 0 25px;
	color: #999;
	text-transform: uppercase;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#menu li:hover > a{
	color: #fafafa;
}

*html #menu li a:hover{ /* IE6 */
	color: #fafafa;
}

#menu li:hover > ul{
	display: block;
}

/* Sub-menu */

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;    
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);    
    background: -o-linear-gradient(#444, #111);	
    background: -ms-linear-gradient(#444, #111);	
    background: linear-gradient(#444, #111);	
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

#menu ul a{    
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

*html #menu ul a{ /* IE6 */   
	height: 10px;
	width: 150px;
}

*:first-child+html #menu ul a{ /* IE7 */    
	height: 10px;
	width: 150px;
}

#menu ul a:hover{
        background: #0186ba;
	background: -moz-linear-gradient(#04acec,  #0186ba);	
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background: -webkit-linear-gradient(#04acec,  #0186ba);
	background: -o-linear-gradient(#04acec,  #0186ba);
	background: -ms-linear-gradient(#04acec,  #0186ba);
	background: linear-gradient(#04acec,  #0186ba);
}

#menu ul li:first-child a{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after{
    border-bottom-color: #04acec; 
}

#menu ul li:last-child a{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

div.left
{
position: relative;
float: left;
left: 1140px;
}

div.left1
{
position: relative;
float: left;
left: 440px;
}

div.left2
{
position: relative;
float: left;
left: 1190px;
}

